<div id="<%= dom_id g_checklist_veiculo %>">
  <p>
    <strong>G vistoria veiculo:</strong>
    <%= g_checklist_veiculo.g_vistoria_veiculo_id %>
  </p>

  <p>
    <strong>G tipo item checklist veiculo:</strong>
    <%= g_checklist_veiculo.g_tipo_item_checklist_veiculo_id %>
  </p>

  <p>
    <strong>G estado conservacao veiculo:</strong>
    <%= g_checklist_veiculo.g_estado_conservacao_veiculo_id %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= g_checklist_veiculo.resultado %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= g_checklist_veiculo.observacao %>
  </p>

</div>
