<div id="<%= dom_id a_unidade %>">
  <p>
    <strong>Nome fantasia:</strong>
    <%= a_unidade.nome_fantasia %>
  </p>

  <p>
    <strong>A orgao:</strong>
    <%= a_unidade.a_orgao_id %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= a_unidade.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= a_unidade.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= a_unidade.telefone %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= a_unidade.a_status_id %>
  </p>

  <p>
    <strong>Codigo interno:</strong>
    <%= a_unidade.codigo_interno %>
  </p>

  <p>
    <strong>G municipio:</strong>
    <%= a_unidade.g_municipio_id %>
  </p>

</div>
