<div>
  <div class="brand-logo d-flex align-items-center justify-content-between">
    <%= link_to root_path, class: "text-nowrap logo-img" do %>
      <img src="/layout/assets/img/Sigel_Banner3.png" alt="SIGEL" class="img-fluid" />
    <% end %>
    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
      <i class="ti ti-x fs-8"></i>
    </div>
  </div>
  <!-- Sidebar navigation -->
  <nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <li class="sidebar-item">
        <%= link_to home_index_path, class: "sidebar-link" do %>
          <span>
            <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
        <span class="hide-menu">Cadastros</span>
      </li>
      <li class="sidebar-item">
        <%= link_to root_path, class: "sidebar-link" do %>
          <span>
            <iconify-icon icon="solar:car-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Veículos</span>
        <% end %>
      </li>
      <li class="sidebar-item">
        <%= link_to root_path, class: "sidebar-link" do %>
          <span>
            <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class: "fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Tipos de Veículo</span>
        <% end %>
      </li>
      <li class="nav-small-cap">
        <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-6"></iconify-icon>
        <span class="hide-menu">Auth</span>
      </li>
      <li class="sidebar-item">
        <%= link_to new_user_session_path, class: "sidebar-link" do %>
          <span>
            <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
          </span>
          <span class="hide-menu">Login</span>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
