<aside class="left-sidebar">
  <!-- Sidebar scroll -->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <%= link_to root_path, class: "text-nowrap logo-img" do %>
        <img src="/images/logos/logo-light.svg" width="180" alt="SIGEL">
      <% end %>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation -->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Menu Principal</span>
        </li>
        <li class="sidebar-item">
          <%= link_to root_path, class: "sidebar-link" do %>
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Gestão</span>
        </li>
        <li class="sidebar-item">
          <%= link_to root_path, class: "sidebar-link" do %>
            <span>
              <i class="ti ti-car"></i>
            </span>
            <span class="hide-menu">Veículos</span>
          <% end %>
        </li>
        <li class="sidebar-item">
          <%= link_to root_path, class: "sidebar-link" do %>
            <span>
              <i class="ti ti-tags"></i>
            </span>
            <span class="hide-menu">Tipos de Veículos</span>
          <% end %>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Configurações</span>
        </li>
        <li class="sidebar-item">
          <%= link_to edit_user_registration_path, class: "sidebar-link" do %>
            <span>
              <i class="ti ti-user"></i>
            </span>
            <span class="hide-menu">Minha Conta</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
