<div id="<%= dom_id g_vistoria_veiculo %>">
  <p>
    <strong>G veiculo:</strong>
    <%= g_vistoria_veiculo.g_veiculo_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= g_vistoria_veiculo.user_id %>
  </p>

  <p>
    <strong>Data vistoria:</strong>
    <%= g_vistoria_veiculo.data_vistoria %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= g_vistoria_veiculo.observacoes %>
  </p>

</div>
