<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>SIGEL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/layout/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/layout/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/layout/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/layout/assets/img/favicon.ico">
    <link rel="manifest" href="/layout/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/layout/assets/img/judge.png" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#0d6efd">
    <meta name="theme-color" content="#0d6efd">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/styles.min.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>
  <body>
    <% if user_signed_in? %>
      <!-- Main Wrapper -->
      <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">

        <!-- Sidebar -->
        <%= render "shared/sidebar" %>

        <!-- Body Wrapper -->
        <div class="body-wrapper">
          <!-- Header -->
          <%= render "shared/header" %>

          <div class="container-fluid">
            <%= render "shared/flash" %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Layout para usuários não logados -->
      <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
              <div class="col-md-8 col-lg-6 col-xxl-3">
                <%= render "shared/flash" %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Scripts -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/simplebar/dist/simplebar.js"></script>
    <script src="/js/sidebarmenu.js"></script>
    <script src="/js/app.min.js"></script>
  </body>
</html>
